{% extends "base.html" %}

{% block main_content %}

<form action="{{url_for('add_listing')}}" method="POST" enctype="multipart/form-data">
    <p><label>Image:
        <input type = "file" name = "image">
    </label></p>
    
    <p><label>Item Description: <br>
        <textarea name = "description" rows = "4", cols = "40"></textarea>
    </label></p>
    
    <p><label>Type: 
        <select name = "type">
            <option value="shirt">Shirt</option>
            <option value="pants">Pants</option>
            <option value="shorts">Shorts</option>
            <option value="skirt">Skirt</option>
            <option value="outerwear">Outerwear</option>
            <option value="shoes">Shoes</option>
            <option value="accessories">Accessories</option>
            <option value="dress">Dress</option>
            <option value="other">Other</option>
        </select>
    </label></p>

    <p><label>Color: 
        <select name = "color">
            <option value="multicolor">Multicolor</option>
            <option value="black">Black</option>
            <option value="white">White</option>
            <option value="brown">Brown</option>
            <option value="gray">Gray</option>
            <option value="red">Red</option>
            <option value="orange">Orange</option>
            <option value="yellow">Yellow</option>
            <option value="green">Green</option>
            <option value="blue">Blue</option>
            <option value="purple">Purple</option>
            <option value="pink">Pink</option>
            <option value="gold">Gold</option>
            <option value="silver">Silver</option>
        </select>
    </label></p>

    <p><label>Usage: 
        <select name = "usage">
            <option value="new">New</option>
            <option value="like-new">Like New</option>
            <option value="well-loved">Well Loved</option>
            <option value="needs work">Needs Work</option>
            <option value="trash it">Trash It</option>
        </select>
    </label></p>

    <p><label>Price: 
        <select name = "price">
            <option value="$">$</option>
            <option value="$$">$$</option>
            <option value="$$$">$$$</option>
        </select>
    </label></p>

    <p><label>Size: 
        <select name = "size">
            <option value="XS">Extra Small</option>
            <option value="S">Small</option>
            <option value="M">Medium</option>
            <option value="L">Large</option>
            <option value="XL">Extra Large</option>
            <option value="XXL">Extra Extra Large</option>
        </select>
    </label></p>

    <p><label>Available for:
        <select name = "trade-type">
            <option value="trade">Trade</option>
            <option value="free">Free</option>
        </select>
    </label></p>

    <button type="submit" value = "add">Add Item</button>
</form>

{% endblock %}