{% extends "base.html" %}

{% block main_content %}
<h1>{{person['display_name']}}'s Personal Page</h1>

<h3>Info:</h3>

<p>Username: {{person['username']}}</p>
<p>Display Name: {{person['display_name']}}</p>
<p>Email: {{person['email']}}</p>
<p>Number of Listings: {{list_num}}</p>

<form id="editform" method="POST" action="{{url_for('edit_bio')}}">
    <button type="submit">Edit Profile</button>
  </form>

<h3>Your Listings:</h3>

<div class="listing-grid">
{% for listing in listings %}

<div class = "listing-card-{{listing['item_status']}}">
    <img src="{{url_for('image', id=listing['lis_id'])}}" alt ="{{listing['item_image']}}">
    <div class = "listing-details">
        <p class="list-attr">{{listing['item_desc']}}</p>
        <div class = "listing-details2">
        <p class="list-attr">Type: {{ listing['item_type'] }}</p>
        <p class="list-attr">Color: {{ listing['item_color'] }}</p>
        <p class="list-attr">Usage: {{ listing['item_usage'] }}</p>
        <p class="list-attr">Price: {{ listing['item_price'] }}</p>
        <p class="list-attr">Size: {{ listing['item_size'] }}</p>
    </div>

    <!-- Conditionally Display TRADED Label -->
    {% if listing['item_status'] == 0 %}
    <span class="sold-label">TRADED</span>  <!-- Add TRADED label when item is sold -->
    {% endif %}

    {% if listing['item_status'] == 1 %}
        <form id="tradedform" action="{{url_for('bio')}}" method="POST">
            <input type="hidden" name="id" value="{{ listing['lis_id'] }}">
            <button type="submit" name="submit" value="traded">Mark as Traded</button>
        </form>
    {% elif listing['item_status'] == 0 %}
    <form id="tradedform" action="{{url_for('bio')}}" method="POST">
        <input type="hidden" name="id" value="{{ listing['lis_id'] }}">
        <button type="submit" name="submit" value="available">Mark as Available</button>
    </form>
    {% endif %}
    
    <form action="{{ url_for('edit_listing', lis_id=listing['lis_id']) }}" method="GET">
        <button type="submit" class="btn btn-primary">Edit</button>
    </form>
    </div>
</div>

{% endfor %}
</div>


{% endblock %}
