{% extends "base.html" %}

{% block main_content %}
<h1>{{person['display_name']}}'s Personal Page</h1>

<h3>Info:</h3>

<p>Username: {{person['username']}}</p>
<p>Display Name: {{person['display_name']}}</p>
<p>Email: {{person['email']}}</p>
<p>Number of Listings: {{list_num}}</p>

<form id="editform" action="{{url_for('edit_bio')}}">
    <button type="submit">Edit</button>
  </form>

<h3>Your Listings:</h3>

<div class="listing-grid">
{% for listing in listings %}

<div class = "listing-card">
    <img src="{{url_for('image', id=listing['lis_id'])}}" alt ="{{listing['item_image']}}">
    <div class = "listing-details">
        <p class="list-attr">{{listing['item_desc']}}</p>
        <div class = "listing-details2">
        <p class="list-attr">Type: {{ listing['item_type'] }}</p>
        <p class="list-attr">Color: {{ listing['item_color'] }}</p>
        <p class="list-attr">Usage: {{ listing['item_usage'] }}</p>
        <p class="list-attr">Price: {{ listing['item_price'] }}</p>
        <p class="list-attr">Size: {{ listing['item_size'] }}</p>
    </div>
    </div>
</div>

{% endfor %}
</div>


{% endblock %}
