{% extends "base.html" %}
{% block main_content %}

<h1>Your Messages</h1>

<div class="message-container">
    {% if messages %}
    {% for msg in messages %}
    <div class="message {{ 'sent' if msg.sender == 'You' else 'received' }}">
        <p class="message-time">{{ msg.time_stamp }}</p>
        <p class="message-text">{{ msg.message_text }}</p>
        <p class="message-from">{{ msg.sender }}</p>
        <p class="listing-description">{{ msg.item_desc }}</p>
    </div>
{% endfor %}
    {% else %}
        <p>No messages yet.</p>
    {% endif %}
</div>

<a href="{{ url_for('index') }}">Back to Main Page</a>

{% endblock %}
